{% extends 'master.html' %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <h1>
                {{ currency.name }}
                {% if perms.portfolio.change_currency %}
                    <a href="{% url 'portfolio:edit' currency.id %}">
                        <span class="badge badge-primary">Edit</span>
                    </a>
                {% endif %}
            </h1>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ currency.description }}</p>
            </blockquote>
        </div>
    </div>
    <div class="list-group">
        {% for transaction in transactions %}
         <div class="card">
            <p>{{ transaction.adressFrom }} transfered to {{ transaction.adressTo }}  {{ transaction.amount }} {{ transaction.currency }}</p
        </div>
        {% endfor %}
    </div>
    {% if perms.portfolio.add_transactions %}
        <a href="{% url 'portfolio:transaction' currency.id %}">
            <span class="badge badge-primary">Add Transaction</span>
        </a>
    {% endif %}

{% endblock %}