{% extends 'master.html' %}

{% block title %}
    New Transaction
{% endblock %}

{% block content %}

    <form method="post" action="{% url 'portfolio:transaction' currency.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.adressFrom.id_for_label }}">{{ form.adressFrom.label_tag }}</label>
            <input type="text" class="form-control" id="{{ form.adressFrom.id_for_label }}" name="{{ form.adressFrom.name }}">
            {% if form.adressFrom.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.adressFrom.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.amount.id_for_label }}">{{ form.amount.label_tag }}</label>
            <input type="text" class="form-control" id="{{ form.amount.id_for_label }}" name="{{ form.amount.name }}">
            {% if form.amount.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.amount.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.adressTo.id_for_label }}">{{ form.adressTo.label_tag }}</label>
            <input type="text" class="form-control" id="{{ form.adressTo.id_for_label }}" name="{{ form.adressTo.name }}">
            {% if form.adressTo.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.adressTo.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <input type="submit" class="btn btn-primary btn-lg" value="Add"/>
    </form>

{% endblock %}